[submodule "src/ncnn"]
	path = src/ncnn
	url = https://github.com/Tencent/ncnn.git
[submodule "pybind11"]
	url = https://github.com/pybind/pybind11.git
[submodule "src/pybind11"]
	path = src/pybind11
	url = https://github.com/pybind/pybind11.git
