
# Include the README
include *.md

# Include the license file
include LICENSE

# Include the data files
#recursive-include data *

recursive-include waifu2x_vulkan *.pyd
recursive-include waifu2x_vulkan *.so
recursive-include waifu2x_vulkan *.bin
recursive-include waifu2x_vulkan *.param
recursive-include src *
recursive-include VulkanSDK *